/* Estilos para el encabezado */
header {
    background-image: url(/images/computer.jpg);
    padding: 20px 0;
    color: #fff;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  
  
  /* Estilos para el contenido principal */
  .section {
    padding: 50px 0;
  }
  
  .section h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .section p {
    margin-bottom: 20px;
  }
  
  .float-left {
    float: left;
    margin-right: 20px;
  }
  
  .float-right {
    float: right;
    margin-left: 20px;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Estilos para el formulario de comentarios */
  #formulario-comentario {
    margin-top: 20px;
   align-items: center;  
  }

  #formulario-comentario input,
  #formulario-comentario textarea {
    width: 300px; /* Ajusta el ancho deseado de las barras de texto */
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box; /* Incluye el ancho del borde en el ancho total */
    display: block;
  }

  #formulario-comentario button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
  }

  #formulario-comentario button:hover {
    background-color: #45a049;
  }
