body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../images/wallpaper/computer.jpg');
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una suave sombra */
}

h2 {
  text-align: center;
}

.sesion {
  max-width: 250px;
  margin: 0 auto;
  height: 330px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una suave sombra */
}

.sesion input[type="text"],
.sesion input[type="email"],
.sesion input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px; /* Aumenta el tamaño de la fuente */
}

.sesion input[type="submit"] {
  background-color: #2091f9;
  color: #f0f0f0;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px; /* Aumenta el tamaño de la fuente */
  transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
}

.sesion input[type="submit"]:hover {
  background: #03e9f4;
  color: #fff;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

/* Estilo para los mensajes de error o éxito */
.sesion .mensaje {
  color: #03e9f4;
  font-size: 14px;
  margin-top: 5px;
}
.sesion .error {
  color: #ff0000;
}
