body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url('/H-Y-D-R-A/images/computer.jpg');
    font-family: Arial, sans-serif;
      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .container {
    width: 400px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
  }
  .sesion {
    max-width: 250px;
    margin: 0 auto;
    height: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    text-align: center;
  }
  
  .sesion input[type="text"],
  .sesion input[type="email"],
  .sesion input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .sesion input[type="submit"] {
    background-color: #2091f9;
    color: #f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .sesion input[type="submit"]:hover {
    background: #03e9f4;
    color: #fff;
   box-shadow: 0 0 5px #03e9f4,
               0 0 25px #03e9f4,
               0 0 50px #03e9f4,
               0 0 100px #03e9f4;
               
  }
  
    