@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --padding-container: 100px 0;
  --color-title: #4464a0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
  align-items: center;
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url("../images/empleado.jpg");
  background-size: cover;
  clip-path: fill-box(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}
/* Nav */

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.log {
  width: 100px;
  height: 68px;
  margin-top: 25px;
}
.nav__title {
  font-weight: 600;
  height: 40px;
  font-size: 24px;
  text-align: start;
}

.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav__items {
  list-style: none;
}

.nav__links {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}
.nav__close {
  display: var(--show, none);
}

.image-container {
  position: relative;
  display: inline-block;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}



.hero__container {
  max-width: 700px;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.hero__title {
  font-size: 2rem;
}

.hero__paragraph {
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
}

.cta {
  display: inline-block;
  background-color: #2091f9;
  justify-self: center;
  color: black;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px;
}

.footer {
  background-color: rgb(14, 13, 13);
}

.footer__title {
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 30px;
}

.footer__title,
.footer__newsletter {
  color: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

.nav--footer {
  padding-bottom: 10px;
  display: grid;
  gap: 1em;
  grid-auto-flow: row;
  height: 100%;
  justify-content: space-between;
}

.nav__link--footer {
  display: flex;
  margin: 0;
  margin-right: 20px;
  flex-wrap: wrap;
}

.footer__inputs {
  margin-top: 10px;
  display: flex;
  overflow: hidden;
}

.footer__input {
  background-color: #fff;
  height: 50px;
  display: block;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-right: 16px;
  width: 150px;
}

.footer__submit {
  margin-left: auto;
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  background-color: #2091f9;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.footer__copy {
  --padding-container: 10px 0;
  text-align: center;
  color: rgb(255, 239, 239);
}

.footer__copyright {
  font-weight: 20;
  text-align: right;
  color: white;
  font-size: 15px;
}

.footer__icons {
  margin-bottom: 10px;
}
.footer__im {
  width: 30px;
}

.footer__img {
  width: 30px;
}

@media (max-width: 1200px) {
  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    .nav__menu {
      display: block;
    }

    .nav__link--show {
      opacity: 2;
      pointer-events: unset;
      background-color: black;
    }
  }
}
